name: Build SelenaCC

on:
  push:
    branches-ignore: [translation]
  pull_request:
    branches: ["*"]
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout repo
        uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install build-essential cmake -y
          
      - name: Build
        id: build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build
          mkdir -p ~/artifacts/*
          cp build/nslcc ~/artifacts/
      - name: Publish build to GH Actions
        uses: actions/upload-artifact@v2
        with:
          path: ~/artifacts/*
          name: build